{% extends 'base.html.twig' %}

{% block title %}Welcome to the Homepage{% endblock %}

{% block body %}

<div class="content">
                <h1>Hôtel Clair de Lune</h1>
                <p>Réservez votre chambre</p>
            </div>
{% endblock %}
