.banner{
    width: 100%;
    height: auto;
    background-image: url('../images/homepage.webp');
    background-size:auto;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    font-size: 25px;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    text-transform: uppercase;
    /* background-color: rgba(0, 0, 0, 0.5); */
}
.navbar ul li::after{
    content: '';
    height:3px;
    width:0%;
    background:#ffffff;
    position:absolute;
    left:0;
    bottom:-10px;
    transition:0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}

button{
    width:200px;
    padding: 15px 0;
    text-align:center;
    margin:20 px 10 px;
    border-radius:25px;
    font-weight:bold;
    border: 2px solid #6d63ff;
    background: transparent;
    color:#fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #6d63ff;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

h1 {
    padding:2% !important;
}

.custom-container {
    width: 80%;
    margin: 0 auto;
    padding:1%
}

body{
  background-color: #f0f0f0;  
}

.admin-button {
    margin:2%
}
