{% extends 'base.html.twig' %}

{% block title %}Page utilisateur{% endblock %}

{% block body %}
    <h1>Page utilisateur</h1>
    <div>
        <p>Email : {{ user.email }}<p>
    </div>
    <div>
        <p>Prénom : {{ user.name }}</p>
    </div>
{% endblock %}
